<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="login">Login</a></li>
            <li class="active"><a href="register">Stwórz nowego użytkownika</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pracownicy<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                            {% for user in users %}
                                <li><a href="#">{{ user.username }}</a></li>
                                <li role="separator" class="divider"></li>
                            {% endfor %}
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>