{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <h1>Nowy klient</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-success" type="submit" value="utwórz" />
    {{ form_end(form) }}

    <br><br>
    <a class="btn btn-primary" href="{{ path('clients_index') }}">powrót do listy</a>

{% endblock %}