{% extends 'base.html.twig' %}

{% block body %}
<h1>Urlopy pracownika {{ username }}</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Data</th>
            <th>Komentarz</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for leave in leaves %}
            <tr>
                <td>{{ leave.date|date('Y-m-d') }}</td>
                <td>{{ leave.comment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}