{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <h1>Zgłoszenie urlopu</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-success" type="submit" value="zgłoś" />
    {{ form_end(form) }}

    <br><br>
    <a class="btn btn-primary" href="{{ path('leaves') }}">powrót</a>
{% endblock %}